.about-info {
    display: grid;
    grid-gap: 1.4rem;
    grid-template-areas:
        'bioimage bio bio'
        'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        width: 250px;
        height: 250px;
        margin: auto;
        //   object-fit: contain;
        //   border-radius: 50%;
        //   border: $secondary-color 3px solid;
        background: url('../images/misza_png.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top 10px left 0;
        border-radius: 50%;
        border: solid 3px $secondary-color;
    }

    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .job {
        background: lighten($primary-color, 5);
        padding: 0.5rem;
        border-bottom: $secondary-color 5px solid;
        font-size: 1.2rem;

        & .icons {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        & .skill_icon {
            height: 70px;
            width: 70px;
            padding: .2em;
        }

        & .train-icon {
            width: 180px;
            height: 70px;
            background-color: whitesmoke;
        }

        & .course-icon {
            &-big {
                width: 200px;
                height: 70px;
                padding: 5px;
            }

            &-small {
                width: 70px;
                height: 70px;
                padding: 5px;
            }
        }
    }

    .job-1 {
        grid-area: job1;

    }

    .job-2 {
        grid-area: job2;
    }

    .job-3 {
        grid-area: job3;
    }

}

#main-footer {
    text-align: center;
    padding: 1rem;
    background: darken($primary-color, 10);
    color: set-text-color($primary-color);
    height: 60px;
}